.explanation {
    padding: 5px;
    margin: 10px;
    background-image: none;
}

div.answerbox {
    margin-bottom: 10px;
    background-image: none;
}

div.question {
    background-color: $question;
}

div.simplisticanswer {
    background-color: $simplisticanswer;
}

div.preciseanswer {
    background-color: $preciseanswer;
}

div.resultsbox {
    background-color: $resultsbox;
}

.break-word {
    word-wrap: break-word;
}

td {
    white-space: normal;
}

.question {
    padding: 5px;
    min-height: 15px;
    border-color: $info_message_border;
    background-color: $info_message_bg;
    background-repeat: no-repeat;
    background-position: 5px 5px;
}

.run_description_link {
    padding-left: 20px;
    min-height: 16px;
    background: url(info_small.png) no-repeat;
    font-weight: bold;
}
