.resultsAll{
    padding: 5px 15px 20px 15px;
    border: 1px dotted #3d70b2 ;
    margin: 20px auto;
    border-radius: 15px;
    background: -moz-linear-gradient(top, rgba(240,243,246,1) 0%, rgba(240,243,246,0.58) 49%, rgba(240,243,246,0.5) 59%, rgba(65,214,195,0.15) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(240,243,246,1) 0%,rgba(240,243,246,0.58) 49%,rgba(240,243,246,0.5) 59%,rgba(65,214,195,0.15) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(240,243,246,1) 0%,rgba(240,243,246,0.58) 49%,rgba(240,243,246,0.5) 59%,rgba(65,214,195,0.15) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0f3f6', endColorstr='#2641d6c3',GradientType=0 ); /* IE6-9 */
}

.resultsAll:hover{
    cursor: pointer;
}

.resultsAll h3 {
    border-bottom: 1px solid #41d6c3 ;
    font-size: 1.5em;
}

#results {
    padding: 15px;
}
.table {
    padding: 15px;
    border: 1px solid #121825;
}

.table th{
    background-color: #3d70b2;
    border: 1px solid #121825;
}
.table td {
    border: 1px solid #3d70b2;
    background-color: #f5f7fa;
}

.resultsDescription {

}

.showDetailed{
    padding: 10px 0px;
}

.dimension {
    margin: 0px 20px;
    min-width: 150px;
}

.showDetailed h3{
    border:none;
    cursor: pointer;
    font-size: 1em;
}

.showDetailed h3:hover{
    color: #5e5e5e;
}

.hidden {
	display:none;
}

.visible {
	display:block;
}

.detailed {
    border: 1px dotted #5596e6;
    border-radius: 5px;
    padding: 15px 5px;
    margin-bottom: 15px;
}