<?xml version='1.0' encoding='utf-8'?>
<toolbox monitor="true">


  <label text="coloc-stats tools" id="ch_tools" />
  <section name="coloc-stats" id="my_tools">
    <tool file="proto/hyperbrowser/misc/CongloProtoTool.xml" />
  </section>

  <label text="Track collection tools" id="hb_gsuite_tools" />

  <section name="Create a GSuite of genomic tracks" id="gsuite_compile_tools">
    <label text="From an external source" id="gsuite_from_remote"/>
      <tool file="proto/hyperbrowser/imports/TrackGlobalSearchTool.xml" />
      <tool file="proto/hyperbrowser/imports/TrackSourceTestTool.xml" />
    <label text="From history" id="gsuite_from_history"/>
      <tool file="proto/hyperbrowser/gsuite/CreateGSuiteFileFromHistoryElementsTool.xml" />
      <tool file="proto/hyperbrowser/gsuite/CompileGSuiteFromSingleTrackAttributeTool.xml" />
      <tool file="proto/hyperbrowser/gsuite/CompileGSuiteFromArchiveTool.xml" />
    <label text="From HyperBrowser repository" id="gsuite_from_hb"/>
      <tool file="proto/hyperbrowser/track/ExtractSubtracksTool.xml" />
  </section>

  <section name="Customize a GSuite" id="gsuite_customize_tools">
    <label text="Convert GSuite tracks (remote/ primary/ preprocessed )" id="gsuite_convert"/>
      <tool file="proto/hyperbrowser/gsuite/GSuiteDownloadFiles.xml" />
      <tool file="proto/hyperbrowser/gsuite/PreprocessGSuiteTracksTool.xml" />
      <tool file="proto/hyperbrowser/gsuite/GSuiteConvertFromPreprocessedToPrimaryTool.xml" />
    <label text="Modify GSuites" id="gsuite_modify"/>
      <tool file="proto/hyperbrowser/gsuite/GSuiteSelectRows.xml" />
      <tool file="proto/hyperbrowser/gsuite/GSuiteSelectColumns.xml" />
      <tool file="proto/hyperbrowser/gsuite/ConcatenateGSuitesTool.xml" />
      <tool file="proto/hyperbrowser/gsuite/EditGsuiteMetadataTool.xml" />
      <tool file="proto/hyperbrowser/gsuite/UnionOfGSuiteTracksTool.xml" />
      <tool file="proto/hyperbrowser/gsuite/MultiTrackIntersectTool.xml" />
    <label text="Modify datasets referred to in a GSuite" id="gsuite_dataset_modify"/>
      <tool file="proto/hyperbrowser/gsuite/GSuiteManipulateTextFiles.xml" />
    <label text="Export GSuite datasets" id="gsuite_export_tools"/>
      <tool file="proto/hyperbrowser/gsuite/GSuiteExportToHistoryTool.xml" />
  </section>

  <section name="GSuite documentation" id="gsuite_docs">
    <tool file="hyperbrowser/gsuite_spec.xml" />
  </section>

  <label text="Track processing tools" id="hb_tracks" />

  <section name="Customize tracks" id="customize_tracks">
    <tool file="proto/hyperbrowser/manipulate/ExpandBedSegmentsTool.xml" />
    <tool file="proto/hyperbrowser/restricted/MakeGenomePartionAccordingToSegments.xml" />
    <!--<tool file="hyperbrowser/targetcontrol.xml" />-->
    <tool file="proto/hyperbrowser/manipulate/CreateCaseControlTrack.xml" />
    <tool file="proto/hyperbrowser/util/CreateCategoricalTrackTool.xml" />
    <tool file="proto/hyperbrowser/create/SplitSegmentsTool.xml" />
    <!-- <tool file="hyperbrowser/segments2points.xml" /> -->
    <!-- <tool file="hyperbrowser/wigvstep.xml" /> -->
    <tool file="proto/hyperbrowser/create/SmoothedTrackTool.xml" />
    <!--<tool file="proto/hyperbrowser/restricted/CollapseOverlappingCategorySegments.xml" />-->
    <!--<tool file="proto/hyperbrowser/track/ReplaceSegmentsWithBorderPoints.xml" />-->
    <!--<tool file="proto/hyperbrowser/track/MakePartitionTrackAccordingToBinAndPoints.xml" />-->
    <!--<tool file="proto/hyperbrowser/manipulate/FindSegmentNeighbourhoods.xml" />-->
    <!--<tool file="proto/hyperbrowser/track/FilterTrackBasedOnOverlap.xml" />-->
    <tool file="proto/hyperbrowser/manipulate/ExtractSegmentsByThresholding.xml" />
    <!--<tool file="proto/hyperbrowser/track/ExtractGenomicElementsOfSelectedCategories.xml" />-->
    <!--<tool file="proto/hyperbrowser/track/GetMutatedSequence.xml" />-->
    <!--<tool file="proto/hyperbrowser/track/CollapseIntoUnionRegionsForEachCategory.xml" />-->
    <!--<tool file="proto/hyperbrowser/track/TransformGenomicTrack.xml" />-->
    <!--<tool file="proto/hyperbrowser/track/ExtractIndividualTracksFromCategoryTrack.xml" />-->
  </section>

  <section name="Generate tracks" id="generate_tracks">
    <tool file="proto/hyperbrowser/create/CreateDnaBasedCustomTrackTool.xml" />
    <tool file="proto/hyperbrowser/create/CreateFunctionTrackAsDistanceToNearestSegments.xml" />
    <tool file="hyperbrowser/intensity.xml" />
    <tool file="proto/hyperbrowser/nmer/NmerExtractTool.xml" />
    <tool file="hyperbrowser_localized/coremine_import.xml" />
    <tool file="proto/hyperbrowser/create/CreateSegmentsFromGeneListTool.xml" />
    <!-- <tool file="hyperbrowser/custom_track.xml" /> -->
    <!--<tool file="proto/hyperbrowser/track/CreateCategoryBasedOnTresholdIntervals.xml" />-->
  </section>

  <section name="Format and convert tracks" id="format_convert_tracks">
    <tool file="proto/hyperbrowser/gtrack/TabularToGtrackTool.xml" />
    <tool file="proto/hyperbrowser/manipulate/UniversalConverterTool.xml" />
  </section>

  
  <label text="Standard Galaxy tools" id="galaxy_tools" />
  
  <section id="textutil" name="Text Manipulation">
    <tool file="filters/fixedValueColumn.xml" />
    <tool file="filters/catWrapper.xml" />
    <tool file="filters/cutWrapper.xml" />
    <tool file="filters/mergeCols.xml" />
    <tool file="filters/convert_characters.xml" />
    <tool file="filters/CreateInterval.xml" />
    <tool file="filters/cutWrapper.xml" />
    <tool file="filters/changeCase.xml" />
    <tool file="filters/pasteWrapper.xml" />
    <tool file="filters/remove_beginning.xml" />
    <tool file="filters/randomlines.xml" />
    <tool file="filters/headWrapper.xml" />
    <tool file="filters/tailWrapper.xml" />
    <tool file="filters/trimmer.xml" />
    <tool file="filters/wc_gnu.xml" />
    <tool file="filters/secure_hash_message_digest.xml" />
  </section>
  <section id="filter" name="Filter and Sort">
    <tool file="stats/filtering.xml" />
    <tool file="filters/sorter.xml" />
    <tool file="filters/grep.xml" />
    
    <label id="gff" text="GFF" />
    <tool file="filters/gff/extract_GFF_Features.xml" />
    <tool file="filters/gff/gff_filter_by_attribute.xml" />
    <tool file="filters/gff/gff_filter_by_feature_count.xml" />
    <tool file="filters/gff/gtf_filter_by_attribute_values_list.xml" />
  </section>
  <section id="group" name="Join, Subtract and Group">
    <tool file="filters/joiner.xml" />
    <tool file="filters/compare.xml" />
    <tool file="stats/grouping.xml" />
  </section>
  <section id="convert" name="Convert Formats">
    <tool file="filters/axt_to_concat_fasta.xml" />
    <tool file="filters/axt_to_fasta.xml" />
    <tool file="filters/axt_to_lav.xml" />
    <tool file="filters/bed2gff.xml" />
    <tool file="filters/gff2bed.xml" />
    <tool file="filters/lav_to_bed.xml" />
    <tool file="maf/maf_to_bed.xml" />
    <tool file="maf/maf_to_interval.xml" />
    <tool file="maf/maf_to_fasta.xml" />
    <tool file="filters/wiggle_to_simple.xml" />
    <tool file="filters/sff_extractor.xml" />
    <tool file="filters/gtf2bedgraph.xml" />
    <tool file="filters/wig_to_bigwig.xml" />
    <tool file="filters/bed_to_bigbed.xml" />
  </section>
<label id="hb_internal_tools" text="HyperBrowser internal tools" version="" />
    <section id="manage_tracks_genomes" name="Admin of genomes and tracks" version="">
        <tool id="hb_genome_info" />
        <tool id="hb_upload_genome" />
        <tool id="hb_install_genome" />
        <tool id="hb_remove_genome" />
        <tool id="hb_meta_1" />
        <tool id="hb_integrate" />
        <tool id="hb_preprocess" />
        <tool id="hb_rename_track" />
        <tool id="hb_touch_standardized_track" />
        <tool id="hb_standardize_track_files_tool" />
        <tool id="hb_integrate_categorical_track_from_history" />
    </section>

</toolbox>
