
/*
#masthead tbody tr td:hover > .submenu{
	display: block;
}
*/

#masthead .navbar-nav .dropdown .disabledMode a {
	color: #777;
	text-decoration: none;
    cursor: default;
}

#masthead .navbar-nav .dropdown .noLink {
	text-decoration: none;
    cursor: default;
}
